@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #FAF7F0;
    --cor-terciaria: #00ADB5;
    --cor-hover: #CDAC81;

    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Krona One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao_conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* agrupei os itens do conteúdo em uma flex box, e coloquei em coluna, pra ficar um debaixo do outro, e assim poder colocar um gap (espaçamento) entre eles*/
}

.apresentacao_conteudo_titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao_conteudo_texto {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);

}

.apresentacao_conteudo h2, .apresentacao_conteudo h3 {
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    margin-bottom: 16px;
}

.apresentacao_conteudo ul {
    list-style-type: square;
    padding-left: 20px;
    margin-bottom: 20px;
}

.apresentacao_conteudo li {
    font-size: 1.25rem;
    font-family: var(--cor-primaria);
    margin-bottom: 8px;
    color: var(--cor-secundaria);
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao_links_subtitulo {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao_links_link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px solid #22D4FD;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 600;
}

.apresentacao_links_link:hover {
    background-color: var(--cor-hover);
}

.apresentacao_imagem {
    width: 100%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho_menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5% 5%;
    }

    .apresentacao_conteudo {
        width: auto;
    }

    .apresentacao_imagem {
        width: auto;
    }
}

form {
    max-width: 400px;
    margin: 10 auto;
    padding: 20px;
    background: white;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-size: 1rem;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}